li:hover{
  background-color: rgba(0,0,0,.5);
}
li > span {
  padding:15px;
}
.pick {
  display: flex;
  justify-content: center;
}
.playlist-items {
  padding: 80px 0;
}
.artist {
  font-weight: 900;
  text-transform: uppercase;
}
