@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */

body {
  background: url('./assets/backgrounds/3.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute;
}

a {
  color: inherit;
}
.display-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.control-row {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}
.navbar-control {
  display: inline;
}
.active {
  background-color: rgba(255,255,255,.3);
  border-radius: 10%;
}
.text-align-center{
  text-align: center;
}

#play-btn{
  font-size:42px;
}
.color-white{
  color:#fff;
}
.nav-btns {
  width: 100%;
}
.first-btn {
  margin-left: 0 !important;
}
.info-dialog{
  background: rgba(0, 0, 0, .8);
}
.error-dialog {
  border: 3px solid red;
  background: rgba(255, 0, 0, .9);
}
