@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
a {
  color: inherit;
}
.display-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.active {
  background-color: rgba(255,255,255,.3);
  border-radius: 10%;
}
.text-align-center{
  text-align: center;
}

.playlist-items {
  list-style: none;

}
#play-btn{
  font-size:42px;
}
.color-white{
  color:#fff;
}
.nav-btns {
  width: 100%;
}
.first-btn {
  margin-left: 0 !important;
}
.genre-chip-list {
  width: 100%;
}
.genre-chip-list > .mat-chip-list-wrapper {
justify-content: space-evenly;
}
.playlist-items {
  width: 100%;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.playlist-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
