<nav class="navbar navbar-expand-lg navbar-dark display-flex space-between">
    <a class="navbar-brand" href="#" *ngIf="!playerLoading">💀</a>
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw color-white" *ngIf="playerLoading"></i>
    <a ngClass="{{playClass}}" (click)="playPause()" id="play-btn"></a>
    <a (click)="toggleReverb()">🌊</a>
    <a (click)="nextTrackPlay()" class="fa fa-forward"></a>
    <li class="nav-item dropdown position-static">
      <a class="nav-link dropdown-toggle"
         href="#"
         id="navbarDropdown"
         role="button"
         data-toggle="dropdown"
         aria-haspopup="true"
         aria-expanded="false">
        <i class="fa fa-cogs"></i>
      </a>
      <div class="dropdown-menu  w-100" aria-labelledby="navbarDropdown">
        <app-settings></app-settings>
      </div>
    </li>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="showExtraMenu">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <p>volume</p>
      </li>
      <li class="nav-item range">
        <input #volumeRange (click)="setVolume(volumeRange.value)" type="range" min="0" max="100" value="80">
      </li>
    </ul>
  </div>


</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="showExtraMenu">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <p>speed</p>
      </li>
      <li class="nav-item range">
        <input #speedRange type="range" (click)="setPlaybackSpeed(speedRange.value)" min="50" max="100" value="100">
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="showExtraMenu">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <p>REVERB</p>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="showExtraMenu">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-label nav-item">
        <p>mix</p>
      </li>
      <li class=" nav-item range">
        <input #verbMix type="range" (change)="setVerbMix(verbMix.value)" min="0" max="100" value="75">
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="showExtraMenu">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <p>time</p>
      </li>
      <li class="nav-item range">
        <input #verbTime type="range" (change)="setVerbTime(verbTime.value)" min="0" max="10" value="10">
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="showExtraMenu">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <p>decay</p>
      </li>
      <li class="nav-item range">
        <input #verbDecay type="range" (change)="setVerbDecay(verbDecay.value)" min="0" max="10" value="10">
      </li>
    </ul>
  </div>
</nav>
<div class="progress-bar">
  <div class="current-progress"></div>
</div>

