ul,li,a,p {
  color: #fff !important;
  font-size:32px;
}
ul, li{
  list-style:none !important;
}

input{
  width:600px;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
}
nav {
  background-color: rgba(0, 0, 0, .7);
}
