<nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-control">
  <div class="control-row">
    <a (click)="openSnackBar('confusted', 'nothing')" class="navbar-brand" href="#" *ngIf="!playerLoading">💀</a>
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw color-white" *ngIf="playerLoading"></i>
    <a ngClass="{{isPlaying ? 'fa fa-pause' : 'fa fa-play'}}" (click)="togglePlay()" id="play-btn"
       style="margin-top:10px;"></a>
    <!--<a (click)="onToggleReverb()">🌊</a>-->
    <a (click)="nextTrackPlay()" class="fa fa-forward" style="margin-top:15px;"></a>
    <li class="nav-item dropdown position-static">
      <a class="nav-link dropdown-toggle"
         href="#"
         id="navbarDropdown"
         role="button"
         data-toggle="dropdown"
         aria-haspopup="true"
         aria-expanded="false">
        <i class="fa fa-cogs"></i>
      </a>
      <div class="dropdown-menu  w-100" aria-labelledby="navbarDropdown">
        <app-settings (onSettingsCallback$)="onSettingsCallback($event)"></app-settings>
      </div>
    </li>
  </div>
  <!--<div class="control-row">-->
    <!--<mat-progress-bar mode="buffer" value="{{(timePosition.current / timePosition.duration) * 100 }}"></mat-progress-bar>-->
  <!--</div>-->
</nav>


