
<div *ngIf="!data.length">
  <p>this is a slow music player made by brendan okeefe. <br><br> it creates 30 track genre playlists, plays the tracks
    slowly, and adds some reverb. u can further tweak the <i class="fa fa-cogs"></i> to find that trippy/square sweet
    spot.</p> <br>
  <p>This is going to be very buggy so expect to wait a really long for a song to load. also, it will
    explode if you do anything after hitting play. if it gets completely goofy, just re-load the page, pick a genre,
    arrange the playlist how you want, and play.</p>
  <a href="https://github.com/Bokeefe/sloMoPlayer" target="_blank"><i class="fa fa-github fa-3x"></i></a>

</div>
<p *ngIf="data.length">{{data}}</p>
<button (click)="onClose()" class="btn float-right">OK</button>
