
<div *ngIf="!data.length">
  <p>this is a slow music player made by brendan okeefe. inspired by <a href="https://youtu.be/aVnLon8TvXk" target="_blank"><b>Bohren and Der Club of Gore</b> </a>  and the <a href="https://youtu.be/LL998ajnjN4" target="_blank"><b>Caretaker</b> </a> <br><br> it creates 30 track genre playlists, plays the tracks
    slowly, and adds some reverb. u can further tweak the <i class="fa fa-cogs"></i> to find that syrupy sweet
    spot.</p>
  <p>The reverb takes a lot of browser memory so it might take a full minute to load on a phone.</p>

  <p>Created in Angular 7 with a Node server. I am probably looking for work so checkout my <a href="http://okeefe.site" target="_blank"><b>resume site >>></b></a></p>
  <a href="https://github.com/Bokeefe/sloMoPlayer" target="_blank"><i class="fa fa-github fa-3x"></i></a>

</div>
<p *ngIf="data.length" class="user-message">{{data}}</p>
<button (click)="onClose()" class="btn float-right">OK</button>
